body{
    font-family: 'Merriweather', serif;
}

div{
    padding: 0;
    margin: 0;
}

.top{
    background-color: rgb(14, 211, 211);
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
}

.logo{
    width: 350px;
    height: 350px;
}

.top h1{
    text-align: center;
    margin: 0;
}

.bottom{
    background-color:rgb(224, 220, 220);
    height: 50vh;
    padding-top: 16px;
}

.questionText{
    text-align: center;
    margin-top: 16px;
}


